
.imagen {
    background-image: url(../../src/img/bg-desktop-light.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 30rem;
  
    position: absolute;
  }
  