
  /* Colors */

  /* primary */
  $Bblue: hsl(220, 98%, 61%);

  /* Ligth Theme */
  $grey: hsl(0, 0%, 98%);
  $greyish: hsl(236, 33%, 92%);
  $greyishBlues: hsl(233, 11%, 84%);
  $darkBlues: hsl(236, 9%, 61%);
  $darkGrey: hsl(235, 19%, 35%);

  $modeBlue: #0b0b11;
  $modeDesaturated: rgb(37, 39, 60);
  $modeGrayish: hsl(234, 39%, 85%);
  $modeBlue: hsl(236, 33%, 92%); /*(hover)*/
  $modeDark: hsl(234, 11%, 52%);
  $modeVery: hsl(233, 14%, 35%);
  $modeGrayish: hsl(237, 14%, 26%);

  



  /* Typography */

  $principal: "Josefin Sans", sans-serif;

  $telefono: 480px;
